$mainColor: #75cdd8;
$progressBarColor: #d9eef1;
$secondaryColor: #131f25;
$lighColor: #f6f6f6;
$darkColor: #000000;
$backgroundColor: #f6f6f6;;

$mainFont: Roboto, 'Open Sans', sans-serif;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $backgroundColor;
    font-family: $mainFont;
}

.app {
    max-width: 950px;
    margin: auto;
    padding: 0 1rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-weight: 500;
        font-size: 1rem;
    }

    .previous-question_arrow,
    .reset_icon {
        position: relative;
        right: 0;
    }

    .previous-question_arrow {
        transition: all .1s;
    }
    
    .previous-question:hover .previous-question_arrow {
        right: 0.2rem;
    }

    .reset:hover .reset_icon {
        transition: all .3s;
        transform: rotate(-360deg);
    }
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
    
    h2 {
        font-weight: 500;
    }
}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .progressbar {
        width: 100%;
        background-color: $progressBarColor;
        overflow: hidden;
        margin: 20px 0;
        border-radius: 5px;
        
        .progressbar_progress {
            height: 10px;
            border-radius: 5px;
            background-color: $mainColor;
            transition: width 0.3s ease;
            }
      }
      

    .header {
        text-align: center;
        margin: 1rem 0;
    }

    h2 {
        font-weight: 500;
        margin-top: 0.5rem;
    }

    .question-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;

        h3 {
            font-size: 1.5rem;
            font-weight: 500;
        }

        .options {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 1rem;
            margin: 2.5rem 0;
            list-style: none;

            li {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                max-width: 10rem;
                text-align: center;
                

                .image_container {
                    width: 10rem;
                    height: 10rem;
                    border-radius: 50%;
                    overflow: hidden;
                }
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all .3s;
                }

                &:hover img {
                    transform: scale(110%);
                }
            }
        }
    }

    .recommendation-container {
        margin-top: 2rem;

        .recommendation_inner {
            display: grid;
            grid-template-columns: 50% auto;
            justify-content: center;
            background-color: white;
            margin-top: 1rem;
    
            img {
                width: 100%;
            }
    
            .recommendation_content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;
                padding: 0 1rem;
    
                h3 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 1.1rem;
                    color: rgb(73, 73, 73);
                }
    
                button {
                    padding: 0.5rem 1rem;
                    display: block;
                    border: none;
                    background-color: $mainColor;
                    font-size: 1rem;
                    cursor: pointer;
                }
            }
        }
    }


}

@media screen and (max-width: 550px) {
    .main-container .question-container .options {
        grid-template-columns: auto auto ;
    }
}