$backgroundColor: #f6f6f6;;
$mainColor: #75cdd8;
$secondaryColor: #131f25;
$lighColor: #f6f6f6;
$darkColor: #000000;
$progressBarColor: #d9eef1;

$mainFont: Roboto, 'Open Sans', sans-serif;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $backgroundColor;
    font-family: $mainFont;
}

.app {
    max-width: 950px;
    margin: auto;
    padding: 0 1rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-weight: 500;
        font-size: 1rem;
    }

    .previous-question_arrow,
    .reset_icon {
        position: relative;
        right: 0;
    }

    .previous-question_arrow {
        transition: all .1s;
    }
    
    .previous-question:hover .previous-question_arrow {
        right: 0.2rem;
    }

    .reset:hover .reset_icon {
        transition: all .3s;
        transform: rotate(-360deg);
    }
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
    
    h2 {
        font-weight: 500;
    }
}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .progressbar {
        width: 100%;
        background-color: $progressBarColor;
        overflow: hidden;
        margin: 20px 0;
        border-radius: 5px;
        
        .progressbar_progress {
            height: 10px;
            border-radius: 5px;
            background-color: $mainColor;
            transition: width 0.3s ease;
            }
      }
      

    .header {
        text-align: center;
        margin: 1rem 0;
    }

    h2 {
        font-weight: 500;
        margin-top: 0.5rem;
    }

    .question-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;

        h3 {
            font-size: 1.5rem;
            font-weight: 500;
            max-width: 40rem;
            text-align: center;
        }

        .options {
            display: flex;
            gap: 2rem;
            margin: 2.5rem 0;
            list-style: none;

            li {
                cursor: pointer;
                display: grid;
                grid-template-rows: 70% auto;
                align-items: center;
                gap: 1rem;
                max-width: 10rem;
                text-align: center;

                .text_container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.5rem;
                    height: 100%;
                }


                .image_container {
                    width: 10rem;
                    height: 10rem;
                    border-radius: 50%;
                    overflow: hidden;
                }
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all .3s;
                }

                &:hover img {
                    transform: scale(110%);
                }
            }
        }
    }

    .recommendation-container {
        margin-top: 2rem;
        
        .recommendation_inner {
            display: grid;
            grid-template-columns: 50% auto;
            justify-content: center;
            background-color: white;
            margin-top: 1rem;
            box-shadow: 0 5px 10px rgba(154, 173, 185, 0.05), 0 15px 40px rgba(166, 193, 201, 0.2);
    
            img {
                width: 100%;
            }
    
            .recommendation_content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1.5rem;
                padding-right: 3rem;
    
                h3 {
                    font-size: 2rem;
                    font-weight: 500;
                }

                p {
                    font-size: 1rem;
                    line-height: 1.5rem;
                    color: rgb(73, 73, 73);
                }
    
                button {
                    padding: 1.2rem 2rem;
                    display: block;
                    border: none;
                    font-size: 0.9rem;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all .3s;
                    background-color: $secondaryColor;
                    color: $lighColor;
                    
                    &:hover {
                        color: $secondaryColor;
                        background-color: $mainColor;
                    }
                }
            }
        }
    }


}

@media screen and (max-width: 650px) {
    .main-container .question-container .options {
        display: grid;
        grid-template-columns: auto auto ;
    }

    .main-container .recommendation-container .recommendation_inner {
        display: flex;
        flex-direction: column;

        .recommendation_content {
            padding-bottom: 1rem;
        }
    }
}